<p id="notice"><%= notice %></p>

<%= render @cart %><br><div class="king3">
<%= link_to 'Edit', edit_cart_path(@cart) %> </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    |    &nbsp;&nbsp;&nbsp;<div class="king3">
<%= link_to 'Back', carts_path %>
</div>